<header class="site-header">
    <div class="row align-items-center">
        <div class="col-5 col-md-3">
            <ul class="list-unstyled social">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
        <div class="col-2 col-md-6 text-center">
            <a href="index.html" class="site-logo">D</a>
        </div>
        <div class="col-5 col-md-3 text-right menu-burger-wrap">
            <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>
        </div>
    </div>  
</header> <!-- site-header -->
